body{
    background-color:beige;
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
li:hover{
    background-color: peachpuff;
}